@use "variables" as *;

.blog {
  background-color: $tertiaryColor;


  aside {
    width: 38%;
    margin-left: 3%;
    margin-top: 1%;

    img {
      position: relative;
      top: 1px;
      left: -20px;
      width: 100%;
    }
  }

  .blogMain {
    display: flex;
  }

  header {
    height: 75vh;

    h2 {
      font-size: 2.5rem;
      line-height: 1rem;
      margin: 3% 4% 0 0px;
    }
  }

  // .underArticle {
  //   margin-left: 10px;
  // }
  div {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;


    ul {
      list-style: circle;
    }

  }

}

div {
  background-color: #0f614e;
}




.blogIntro {
  width: 60%;
  margin-left: 8&;
  margin-top: 40px;

  .explaination {
    .discoverSpeciesDate {
      .blog .blogIntro .explaination .discoverSpeciesDate {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
        margin-right: 14%;
      }

      h2 {
        font-size: 2.3rem;
        margin: 0;
      }

      p {
        margin: 0;
      }
    }

    p {
      margin-left: 35px;
    }
  }

  h4 {
    font-size: 1.7rem;
    letter-spacing: 0rem;
    margin: 1.4rem auto;
  }

  .heroImage {
    position: relative;
    top: -14%;
    left: 0%;
    box-shadow: -35px 35px #86e0f9;
    margin-bottom: -225px;
    width: 100%;
  }

}

.species {
  border-bottom: 5px solid #86e0f9;
  border-left: 5px solid #86e0f9;
  margin-left: 2%;
  margin-top: -2%;
  margin-left: 2.2%;
  margin-right: 10%;
}

.commentBox {
  max-width: 60%;
  margin: 10px auto;

  #name,
  #email {
    border: none;
    color: white;
    display: inline-block;
    width: 40%;
    height: 20px;
    border-bottom: 2px solid $primaryColor;
    background-color: transparent;
  }

  textarea {
    resize: none;
    display: block;
    width: 50%;
    border: 2px solid $primaryColor;
    background-color: transparent;
    color: white;
  }
}

.blogSubmit {
  width: 90%;
  height: 50px;
  background-color: $secondaryColor;
}


form {
  button {
    color: white;

  }
}


.commentsPics {
  img {
    height: 25%;
    width: 30%;
    margin-top: 25px;
    margin-right: 20px;
  }

  display: flex;
  margin-top: 20px;
}

.faIcons {
  font-size: .8rem;
}