@use "variables" as *;

header {
    height: 90vh;
}

h1 {
    padding: 0px 40px 0px 90px;
}

.indexHeader {
    background-image: url(../under-the-sea-assets/header-image.jpg)
}

.blogHeader {
    background-image: url(../under-the-sea-assets/blog-header.jpg);
}

.contactHeader {
    background-image: url(../under-the-sea-assets/contact-header.jpg);
    height: 60vh;
}

.contactHeader,
.blogHeader,
.indexHeader {
    background-size: cover;
    background-repeat: no-repeat;

}

.headerContent {
    display: flex;
    position: absolute;

    img {
        // position: relative;
        // right: 0;
        // bottom: -96px;
        width: 89%;
        margin-top: 73px;
    }
}